.wrapper {
  margin: 0 auto;
  max-width: 540px;
  display: block;
  text-align: center;
}

.guesses {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  max-width: 20em;
}

.guess {
  column-gap: 4%;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.attempt {
  display: block;
  width: 100%;
  margin: 0;
}

span.letter,
span.empty {
  padding: 1em 0;
  background-color: #fff;
  border: 0.2em solid #eee;
  border-radius: 100%;
  box-sizing: border-box;
  margin: 0;
  line-height: 1em;
  width: 16%;
}

.attempt > input {
  padding: 0.84em 2.2em;
  background-color: #eee;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.24em;
  text-align: center;
}

.messages {
  padding: 0.5em;
  margin: 2em auto 0;
  display: block;
  border-radius: 5em;
  min-height: 20px;
}

.tried {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
  row-gap: 0.4em;
  column-gap: 1%;
  margin-top: 2em;
}

.tried > button {
  border: 0.12em solid #e5e5e5;
  box-sizing: border-box;
  cursor: pointer;
  width: 9%;
  height: 3.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tried > button.disabled {
  background-color: lightgrey;
}

.tried > .action {
  cursor: pointer;
  flex-grow: 1;
  letter-spacing: 0.12em;
}
